.drone-form-container{
	max-width: 50%;
	margin:auto;
	border-color: #f28026;
	padding: 0px;
}

.drone-form-container label{
	text-overflow: ellipsis;	
}

.drone-form-header{
	background-color: #f28026;
	margin-bottom: 10px;	
}

.drone-form-header h1{
	color: white;
}

.drone-form-body{
	padding: 20px;
}

.drone-form-body .form-control:focus{
	border-color: #f28026;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(242, 128, 38, .6)
}

.drone-form-footer{
	background-color: #f28026;

}

.drone-submit{
	text-align: center;
	margin:auto;
	border-color: #f28026; 
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f28026;
	color: white;
	width: 100%;
	height: 100%;
}
.drone-submit:hover{
	text-align: center;
	margin:auto;
	background-color: #f7f7f7;
	color: #f28026;
	border-color:#f28026; 
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	
}
.drone-header{
	border: 1px solid #f28026;
}

.drones-header{
	background-color: #f28026;
	padding: 15px 15px 15px 15px;
}
	

.drones-header a{
	background-color: #ffdf70;
	border-color: #f28026;
	color: #f28026;
	float: right;
}

.drones-header span.glyphicon-plus{
	font-size: 18px;
}

.drones-header a:hover{
	background-color: #f28026;
	border-color: #f28026;
	color: #ffdf70;
	float: right;
}

.drones-header a:focus{
	background-color: #f28026;
	border-color: #f28026;
	color: #ffdf70;
	float: right;
}

.drones-header h2{
	color: white;
}

.drones-header span.glyphicon-plane{
	color: #ffdf70;
	
}

.no-drones{
	text-align: center;
}

.no-drones a{
	border: 5px dashed #757575;
	
}

.no-drones a:hover{
	border: 5px dashed #757575;
}

.fade-50{
	opacity: 0.5;
}
