<!DOCTYPE html>
<html>
    <head>
		<link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0/css/bootstrap-datepicker.css" rel="stylesheet">
		<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
		
		<link href="/static/css/login.css" rel="stylesheet">
		<link href="/static/css/drone.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    {% if title %}
        <title>{{title}} - Airborne</title>
    {% else %}
        <title>Welcome to Airborne</title>
	{% endif %}
		{% block map_data %}{% endblock %}
    </head>
    
    <body>
		
			<nav class="navbar navbar-inverse">
				<div class="container=fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#base-navbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/">Airborne</a>
					</div>
				<div class="collapse navbar-collapse" id="base-navbar">

				
					
					<ul class="nav navbar-nav">
						
						{% if current_user.is_anonymous %}
							<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
							<li><a href="/signup"><span class="glyphicon glyphicon-pencil"></span> Sign Up</a></li>
						{% else %}
							<li><a href="/dashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
							<li><a href="/projects"><span class="glyphicon glyphicon-tasks"></span> Projects</a></li>
							<li><a href="/drones"><span class="glyphicon glyphicon-plane"></span> Drones</a></li>
							<li><a href="/flights"><span class="glyphicon glyphicon-cloud"></span> Flights</a></li>
							<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
						{% endif %}	
						<li><a href="/about"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
					</ul>
				</div>	
			</div>
		</nav>	
	
		{% block content %}{% endblock %}
    </body>
</html>