{% extends "base.html" %}
{% block content %}
        <div class="jumbotron">
                <span><h3>Drone List  ({{user.drones.count()}}) <a href="/drone/add" class="btn btn-lg btn-default"> Add </a> </h3> </span>
                <hr>
                
                <div class="container">                
                <hr>
                
                
                {% if drones.count()!=0 %}
                        {% for drone in drones %}
                        <div class="row">
                                <a href="/drone/view/{{drone.id}}"><h3> {{drone.name}} ver. {{drone.version_number}}</h3></a>
                                <p> Brand/Model: {{drone.brand}} ({{drone.model}}) </p>
                                <p> Notes: {{drone.notes}} </p>
                                <a href="/drone/edit/{{drone.id}}" class="btn btn-sm btn-warning"> Edit </a>
                                <a href="/drone/delete/{{drone.id}}" class="btn btn-sm btn-danger"> Delete </a>
                        </div>
                {% endfor %}
                {% else %}
                <div class="row">
                        <h3> You have no drones. Click the Add button above to add one! </h3>
                        <p> Is this an error? Contact the administrator. </p>

                </div>
                

                {% endif %}

                </div>
        </div>
{% endblock %}