{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="jumbotron drones-header">
           
            <h2>
                 <span class="glyphicon glyphicon-plane"></span>
                Drones 
                <a href="/drone/add" class="btn btn-md"><span class="glyphicon glyphicon-plus"></span> </a>
            </h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="well">
            {% if drones.count()!=0 %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table">
                            <thead>
                                <tr>
                                    <th>Drone Name</th>
                                    <th>Version Number</th>
                                    <th>Brand</th>
                                    <th>Model</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for drone in drones %}
                                <tr>
                                    <td><a href="/drone/view/{{drone.id}}">{{drone.name}}</a></td>
                                    <td>{{drone.version_number}}</td>
                                    <td>{{drone.brand}}</td>
                                    <td>{{drone.model}}</td>
                                    <td>
                                        <a href="/drone/edit/{{drone.id}}" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-edit"></span> Edit </a>
                                        <a href="/drone/delete/{{drone.id}}" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete </a>
                                    </td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>

                            </table>
                        </div>        
                    </div>
                </div>
               
            {% else %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="no-drones">
                            <h3 class="fade-50"> You have no drones. Click the Add button above to add one! </h3>
                            <p class="fade-50"> Is this an error? Contact the administrator. </p>
                        </div>
                    </div>
                </div>
            {% endif %}

            </div>
    </div>
{% endblock %}