{% extends "base.html" %}
{% block content %}
        <div class="jumbotron">
			<div class="container-fluid">
				<span><h2> Error: 403 Forbidden </h2> </span>
			</div>
            
            <hr>
            
            <div class="container-fluid">                
            <hr>
				<div class="row">
					<div class="col-sm-12">
						<h4> The resource you're trying to access is not yours. </h4>
						<h4> Contact an administrator if you're not supposed to see this. </h4>
					</div>
				</div>

                
{% endblock %}