{% extends "base.html" %}
{% block content %}
        <div class="jumbotron">
			<div class="container">
				<span><h2> Error: 404 Not Found </h2> </span>
			</div>
            
            <hr>
            
            <div class="container">                
            <hr>
				<div class="row">
					<div class="col-sm-12">
						<h4> The resource you're trying to access is not found, or does not exist </h4>
						<h4> Contact an administrator if you're not supposed to see this </h4>
					</div>
				</div>

                
{% endblock %}