{% extends "base.html" %}

{% block content %}
	
	<div class="container-fluid">
		<div class="well login-panel">
		<form action="" method="post" name="login" class="form-signin">
			
			<div class="login-header">
				<div class="row">
					<div class="col-sm-12">
						<h1>Log In</h1>
					</div>
				</div>
			</div>	
			
			{{ form.hidden_tag() }}
			<div class="login-body">
				<div class="form-group">
					<label for="username">Username:</label>
					{{ form.username(class="form-control") }}
					{% for error in form.username.errors %}
						<span style="color:red;"> {{error}}</span><br>
					{% endfor %}
				</div>
				<div class="form-group">	
					<label for="password">Password:</label>
					{{ form.password(class="form-control") }}
					{% for error in form.password.errors %}
						<span style="color:red;"> {{error}}</span><br>
					{% endfor %}
				</div>
				<div class="checkbox">
					
					<label for="remember_me">{{ form.remember_me() }}  Remember Me </label>
				</div>
			</div>
			<div class="login-footer">
				<p><input type="submit" value="Log In" class="btn  login-submit"></p>
			</div>
		</form>
		</div>
	</div>
{% endblock %}