{% extends "base.html" %}

{% block content %}
	<div class="container">
		<h1>{{ form_title }}</h1>
		<form action="" method="post" name="{{name}}">
			{{ form.hidden_tag() }}
			
				<div class="form-group">
					<label for="name">Project Name:</label>
					{{ form.name(class="form-control") }}
				</div>
				<div class="form-group">
					<label for="description">Description:<br></label>
					{{ form.description(class="form-control") }}
				</div>
			<p>
				<input type="submit" value="{{ submit_value }}" class="btn btn-default">
			</p>
		</form>
	</div>
{% endblock %}