{% extends "base.html" %}
{% block content %}
        <div class="jumbotron">
                <span><h3>Projects  ({{user.projects.count()}}) <a href="/project/add" class="btn btn-lg btn-default"> Add </a> </h3> </span>
                <hr>
                
                <div class="container">                
                <hr>
                
                
                {% if projects.count()!=0 %}
                        {% for project in projects %}
                        <div class="row">
                                <h3> {{project.name}} </h3>

                                <p> Description: {{project.description}} </p>
                                <p> Number of flights: {{project.flights.count()}} </p>
                                <a href="/project/edit/{{project.id}}" class="btn btn-sm btn-warning"> Edit </a>
                                <a href="/project/delete/{{project.id}}" class="btn btn-sm btn-danger"> Delete </a>
                        </div>
                {% endfor %}
                {% else %}
                <div class="row">
                        <h3> You have no projects. Click the Add button above to start! </h3>
                        <p> Is this an error? Contact the administrator. </p>
                </div>
                {% endif %}
                </div>
        </div>
{% endblock %}