{% extends "base.html" %}
{% block content %}
        <div class="container-fluid">
            <div class="jumbotron">                
                <div class="page-header">
                    <h3>Projects  ({{user.projects.count()}}) </h3>
                    <a href="/project/add" class="btn btn-md btn-success"><span class="glyphicon glyphicon-plus"></span> Add a new project</a> 
                </div>
                <div class="row">
                {% if projects.count()!=0 %}
                    <div class="responsive-table col-sm-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> Project Name </th>
                                    <th> Description </th>
                                    <th> Number of Flights </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in projects %}
                                    <tr>
                                        <td><a href="/project/view/{{project.id}}"> {{project.name}} </a></td>
                                        <td>{{project.description}}</td>
                                        <td>{{project.flights.count()}}</td>
                                        <td>
                                            <a href="/project/edit/{{project.id}}" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-edit"></span> Edit </a>
                                            <a href="/project/delete/{{project.id}}" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete </a>
                                        </td>
                                    </tr>    
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="col-sm-12">
                        <h3> You have no projects. Click the Add button above to start! </h3>
                        <p> Is this an error? Contact the administrator. </p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
{% endblock %}