{% extends "base.html" %}

{% block content %}
	<h1>Sign in</h1>
	<form action="" method="post" name="signup">
		{{ form.hidden_tag() }}
		<p>
			
			First Name:<br>
			{{ form.firstname(size=64) }}<br>
			Middle Name:<br>
			{{ form.middlename(size=64) }}<br>
			Last Name:<br>
			{{ form.lastname(size=64) }}<br>
			Username:<br>
			{{ form.username(size=64) }}<br>
			Password:<br>
			{{ form.password(size=64) }}<br>
			Email:<br>
			{{ form.email(size=64) }}<br>
			Age:<br>
			{{ form.age(size=64) }}<br>
			Sex:<br>
			{{ form.sex(size=10) }}<br>

		</p>
		<p><input type="submit" value="Sign Up"></p>
	</form>
{% endblock %}