{% extends "base.html" %}
{% block content %}
        <div class="jumbotron">
            <span><h3> {{ project.name}} </h3> </span>
			{{project.description}}
			<br>
            <a href="/project/edit/{{project.id}}" class="btn btn-sm btn-warning"> Edit </a>
			<a href="/project/delete/{{project.id}}" class="btn btn-sm btn-danger"> Delete </a>
			<hr>
            

			<h4> Flights </h4>
            <div class="container">                
            <hr>
                {% if project.flights.count()!=0 %}
                    {% for flight in project.flights %}
                        <div class="row">
                            <h3> <a href="/flight/view/{{flight.id}}"> {{flight.name}} </a></h3>
							<p> {{ flight.date}} at {{ flight.location }} </p>
                            <p> Description: {{flight.notes}} </p>
                            <p> Duration: {{flight.duration/3600}} hours, {{ (flight.duration%3600)/60 }} minutes, {{ flight.duration%60 }} seconds </p>
                            
                        </div>
                    {% endfor %}
                {% else %}
            <div class="row">
                <h3> There are currently no flights in this project. </h3>
                <p> Is this an error? Contact the administrator. </p>
            </div>
            {% endif %}
            </div>
        </div>
{% endblock %}