{% extends "base.html" %}

{% block map_data %}
	{% if maps %}
		{% for map in maps %}
			{{map.js}}
		{% endfor %}
	{% endif %}
	
{% endblock %}
{% block content %}
<div ng-app="flightApp">
<div ng-controller="LogController">
        <div class="jumbotron center">
			<div class="container">
				<h1>{{ flight.name }}</h1>
			</div>
        </div>
		<div class="jumbotron">	
			<div class="container">                
				<hr>
				<div class="row">
					<div class="col-sm-4">
						<h2> General Details </h2>
						
						<p> Location: {{flight.location}} </p>
						<p> Notes: {{flight.notes}}</p>
						<p> Project: <a href="/project/view/{{project.id}}">{{project.name}} </a></p>
						<p> Drone: <a href="/drone/view/{{drone.id}}">{{drone.name}} </a></p>
					</div>
					<div class="col-sm-4">
						<h2> Flight Type Details </h2>
						<p> Flight Type: {{flight.flight_type}} </p>
						<p> Operation Type: {{flight.operation_type}} </p>
						<p> Additional notes on flight type: {{flight.more_type_info}} </p>
						<p> Was during night: {{flight.night_flight}} </p>
					</div>
					<div class="col-sm-4">
						<h2> Flight Statistics </h2>
						<p> Duration: {{flight.duration//3600}} hour(s), {{ (flight.duration%3600)//60 }} minute(s), {{ flight.duration%60 }} second(s) </p>
						<p> Number of landings: {{flight.landing_count}} </p>
						<p> Distance travelled: {{flight.travelled_distance}} </p>
						<p> Maximum AGL(above ground level) altitude: {{flight.max_agl_altitude}} </p>
					</div>	
				</div>
				<div class="row" >
					<div class="col-sm-12">
					<h2> 
						Log Statistics 
						<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#add-flight-log">
							<span class="glyphicon glyphicon-plus"></span>
							Add Flight Log
						</button>
						
					</h2>
					
						{% if logs %}
							{% for log in logs %}
							<div class="row">
								<div class="col-sm-12">
									{# <p>Log # {{log.id}} </p> #}
									<p>Log file "{{log.filename}}" <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete-flight-log" ng-click="set_delete_flight({{log.id}})"><span class="glyphicon glyphicon-trash"></span> Delete this log file</button></p>

										
									
									<ul>
									{% for key, value in log.processed_content.items() %}	
										
										{%if key=='tests'%}
										<li><p>Tests:</p> </li>
										<ul>
										
										{% for row in value.items()|batch(3) %}
											<div class="row">
											{% for key_1, values_1 in row %}
												
												<div class="col-sm-4 panel panel-default">
													<div class="panel-heading">
														<p>
															<a href="#{{log.id}}{{key_1|replace(' ', '_')}}" data-toggle="collapse">{{key_1}} </a>
															<span class="glyphicon glyphicon-chevron-down"></span>
														</p>
													</div>
													<div class="panel-collapse collapse" id="{{log.id}}{{key_1|replace(' ', '_')}}">
														<div class="panel-body">
														<ul>
														{% for key_2, value_2 in values_1.items() %}
															{% if key_2=='results' %}
																{% if not value_2 %}
																	<li><h4> {{key_2|capitalize |replace("-", " ")}} : none </h4>	</li>
																{% else %}
																	<li><h4> {{key_2|capitalize |replace("-", " ")}} : </h4></li>
																	{% for results_list in value_2 %}
																		<ul>
																		{% for key_3, value_3 in results_list.items() %}
																			<li><h5>{{ key_3|capitalize |replace("-", " ") }} : {{ value_3 }}</h5></li>
																		{% endfor %}
																		</ul>
																	{% endfor %}
																{% endif %}
															{% elif key_2=='status' %}
																<li>
																	<h4>{{ key_2|capitalize |replace("-", " ") }} : 
																		{% if value_2 == 'FAIL'%}
																		<span class="label label-danger">{{ value_2 }}</span>
																		{% elif value_2 =='WARN' %}
																		<span class="label label-warning">{{ value_2 }}</span>
																		{% else %}
																		<span class="label label-success">{{ value_2 }}</span>
																		{% endif %}
																	</h4>
																</li>
															{% else %}
																<li><h4>{{ key_2|capitalize |replace("-", " ") }} : {{ value_2 }}</h4></li>
															{% endif %}
														{% endfor %}
														</ul>
														</div>
													</div>
												</div>
												
											{% endfor %}
											</div>
										{% endfor %}
										</ul>

										
										{% else %}
											<li><p> {{key|capitalize |replace('-', " ")|replace('_', " ")}} : {{value}} </p></li>
										{% endif %}
									{% endfor %}
									</ul>
									
								</div>
							</div>
							<br>
							
								
								{{log.map.html}}
								
							
							{% endfor %}
						{% else %}

								<p>No logs yet!</p>
	
						{% endif %}
					</div>	
				</div>

            </div>
        </div>

<!-- ng-non-bindable so that it doesn't interfere with WTForm -->
<div class="modal fade" id="add-flight-log" ng-non-bindable>
	<div class="modal-dialog">
		
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title"> Add Flight Log </h3>
			</div>
			<form method="post" enctype="multipart/form-data" name="add_flight_log">
				<div class="modal-body">
				

					{{ form.csrf_token }}
					{{ form.log_file(class="form-control") }}

					{% for error in form.log_file.errors %}
						<span style="color:red;"> {{error}}</span>
					{% endfor %}
					
					
				
				</div>
				<div class="modal-footer">
					<input type="submit" value="Upload Log" class="btn btn-primary"/>
				</div>
			</form>
		</div>	
	</div>
</div>	


<!-- Allow AngularJS to interfere here in order to pass log_id to delete properly -->
{% raw %}
<div class="modal fade" id="delete-flight-log">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Confirm Delete Flight Log</h3>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete this log file?</p>
				<p>Log file # {{log_id}} </p>
			</div>
			<div class="modal-footer">
				<a href="/log/delete/{{log_id}}" class="btn btn-sm btn-danger" >Delete </a>
				<button class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
				
			</div>
		</div>
	</div>
</div>
{% endraw %}
</div>
</div>


<!-- Mini script code just for log delete -->
<script type="text/javascript">
	angular.module('flightApp', [])
	.controller('LogController', ['$scope', function($scope){
		$scope.log_id = undefined;
		$scope.set_delete_flight = function(id){
			console.log("why hello there "+ id);

			$scope.log_id = id;
			console.log($scope.log_id)
		};
	
}]);
</script> 
{% endblock %}